
			<div class="achieve black-bg">
				<div class="container">

					<h1 class="main-title">Our Achiements</h1>
					<div class="main-border"></div>
					<div class="main-subtitle">Galactica is responsive multi-purpose theme with great possibilities. We’ve thought about everything. <br> This is perfect solution for your business. You can try it now.</div>

					<div class="statistic-box">
						<div class="row">
							<div class="col-md-3 mb20">
								<div class="statistic-post">
									<div class="statistic-counter">
										<i class="fa fa-group"></i>
										<p><span class="timer" data-from="100000" data-to="255643">255643</span></p>
										<p>Happy clients</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 mb20">
								<div class="statistic-post">
									<div class="statistic-counter">
										<i class="fa fa-trophy"></i>
										<p><span class="timer" data-from="0" data-to="2550">2550</span></p>
										<p>Projects done</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 mb20">
								<div class="statistic-post">
									<div class="statistic-counter">
										<i class="fa fa-envelope"></i>
										<p><span class="timer" data-from="0" data-to="5000">5000</span></p>
										<p>Letters Sent</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 mb20">
								<div class="statistic-post">
									<div class="statistic-counter">
										<i class="fa fa-twitter"></i>
										<p><span class="timer" data-from="0" data-to="23000">23000</span></p>
										<p>Social Followers</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- End Achieve -->

