
			<div class="happy-clients container">

				<h1 class="main-title">Happy Clients</h1>
				<div class="main-border"></div>

				<div class="testimonials">
					<ul class="bxslider">
			          <li>
				            This VR Cardboard is just awesome! I’ve never seen such a great design and attention to details. I will buy this 999 times to share with my friends. Cuz I think the author of this cardboard deserve it!
		
										<p><span>Anas Ryane</span> | CIO of company Anas IT Inc.</p> 

			          </li>
			          <li>
				            This VR Cardboard is just awesome! I’ve never seen such a great design and attention to details. I will buy this 999 times to share with my friends. Cuz I think the author of this cardboard deserve it!
		
				           <p><span>Anas Ryane</span> | CIO of company Anas IT Inc.</p> 

			          </li>
			        </ul>
				</div>

			</div>
			<!-- End HAppy Clients(testimonials) -->
