
			<div class="contact parallax3 section" id="contact">
				<div class="container">

					<h1 class="main-title">Contact</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">我们致力于打造精致的虚拟现实产品，让VR的世界离我们更近一步。这是最佳的入门级VR体验，你可以现在就尝试一下。</p>
					
					<div class="row">

						<div class="col-md-4 mb20">
							<div class="contact-item">
								<i class="fa fa-phone"></i>
								<h5>Call Us</h5>
								<p>+086 186 9177 0343</p>
								<span>Our work hours is 10am to 5pm.</span>
							</div>
						</div>
						<div class="col-md-4 mb20">
							<div class="contact-item">
								<i class="fa fa-envelope"></i>
								<h5>E-mail</h5>
								<a href="index.html#">vr@anasit.com</a>
								<span>We waiting for your suggestions.</span>
							</div>
						</div>
						<div class="col-md-4 mb20">
							<div class="contact-item">
								<i class="fa fa-map-marker"></i>
								<h5>Address</h5>
								<p>江西省, 南昌市红谷滩新区 <br>
								绿地双子塔A2座3201室, 江西安纳斯信息科技有限公司.</p>
								
							</div>
						</div>

					</div>	

				</div>
			</div>
			<!-- End contact -->
