<div class="contact-form container">
	<form id="contact-form" action="index.html#">
		<div class="row">

			<div class="col-md-4">
				<label>Name</label>
				<input name="name" id="name" type="text">
			</div>


			<div class="col-md-4">
				<label>Email</label>
				<input name="mail" id="mail" type="text">
			</div>

			<div class="col-md-4">
				<label>Subject</label>  
				<input name="subject" id="subject" type="text"> 
			</div>

		</div>

		<label>Message</label>  
		<textarea name="comment" id="comment"></textarea>

		<input type="submit" value="Send"  id="submit_contact">
		<div id="msg" class="message"></div>
	</form>
</div>

