
		<!-- footer 
			================================================== -->
		<footer>
			<div class="inner-footer container">

					<div class="foot-logo">
						<a href="index.html#"><img src="/logo.png" alt=""></a>
					</div>

					<ul class="foot-socials">
						<li><a href="https://twitter.com/vr_nova"><i class="fa fa-twitter"></i></a></li>
						<li><a href="/blog/wechat"><i class="fa fa-qq"></i></a></li>
						<li><a href="/blog/wechat"><i class="fa fa-weixin"></i></a></li>
						<li><a href="/index.xml"><i class="fa fa-rss"></i></a></li>

					</ul>
					
    <span class="copyright">

					<div class="copyright">
						&copy; 2015 - {{ .Site.LastChange.Format "2006" }} <a href="http://vr.anasit.com">{{ .Site.Title }}</a> | <a href="http://ryanemax.github.com">Developed by Anas Ryane </a>
					</div>

					<div id="back-to-top">
			          <a href="index.html#top">Back to Top</a>
			        </div>
				

			</div>
			<!-- end contanir & inner-footer -->
	


		</footer>
		<!-- End footer -->



        <!-- Style Switch -->
		<div id="customizer" class="s-close">
			<span class="corner"><span class="cog"></span></span>
			<div id="options" class="visible">
				<div class="options-head">
					Style Switcher
				</div>	

				<div class="options-segment clearfix colors-sel">
					<h6 class="color-head">Color Scheme</h6>
					<ul class="color-scheme clearfix">
						<li class="yellow"><a href="/css/colors/yellow-black" data-rel="yellow" class="styleswitch"></a></li>
						<li class="green"><a href="/css/colors/green-black" data-rel="green" class="styleswitch"></a></li>
						<li class="red"><a href="/css/colors/red-black" data-rel="red" class="styleswitch"></a></li>
						<li class="blue"><a href="/css/colors/blue-black" data-rel="blue" class="styleswitch"></a></li>
						<li class="fblack"><a href="/css/colors/violet-black" data-rel="black" class="styleswitch"></a></li>
						<li class="orange"><a href="/css/colors/orange-black" data-rel="orange" class="styleswitch"></a></li>
						<li class="violet"><a href="/css/colors/pink-black" data-rel="pink" class="styleswitch"></a></li>
						<li class="pale-green"><a href="/css/colors/pale-green-black" data-rel="pale-green" class="styleswitch"></a></li>
					</ul>
				</div>	
			</div>
		</div>
		<!-- Style Switch -->


	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
	<script type="text/javascript" src="/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
  	<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="/js/plugins-scroll.js"></script>
	<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/js/jquery.appear.js"></script>
	<script type="text/javascript" src="/js/waypoint.min.js"></script>
	<script type="text/javascript" src="/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="/js/jquery.migrate.js"></script>

	<script type="text/javascript" src="/js/jquery.parallax.js"></script>
     <!-- jQuery KenBurn Slider  -->
	<script type="text/javascript" src="/js/script.js"></script>



	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    
	<script type="text/javascript">
		var revapi;
		jQuery(document).ready(function() {
		revapi = jQuery('.tp-banner').revolution(
		{
			delay:9000,
			startwidth:1170,
			startheight:500,
			hideThumbs:10,
			fullWidth:"off",
			fullScreen:"on",
			fullScreenOffsetContainer: ""
		 });
	   });	//ready
	</script>	
    <!-- Style Switcher -->
	<script src="/js/styleswitch.js"></script>
	<script src="/js/style_switch_custom.js"></script>
	<script></script>

	<!-- Count of Disqus -->
		<script id="dsq-count-scr" src="//{{.Site.DisqusShortname}}.disqus.com/count.js" async>
DISQUSWIDGETS.getCount({reset:true});	
		</script>

</body>
</html>
