
			<div class="blog section" id="blog">
				<div class="container">

					<h1 class="main-title">From Blog</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Galactica is responsive multi-purpose theme with great possibilities. We’ve thought about everything. This is perfect solution for your business. You can try it now.</p>
					<div class="row">

						<div class="col-md-4 mb20">
							<div class="blog-item">
								<img src="upload/blog/blog1.jpg" alt="">
								<div class="blog-content">
									<a href="index.html#"><h3>standard blog post</h3></a>
									<span>5 September 2014  |  in Traveling</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									<a href="index.html#" class="read-more">Read More</a>
									<div class="post-comments mb20">
										<a href="index.html#"><i class="fa fa-comment"></i> 315</a>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>

						<div class="col-md-4 mb20">
							<div class="blog-item">
								<div class="flexslider">
									<ul class="slides">
										<li>
											<img alt="" src="upload/blog/blog2.jpg" />
										</li>
										<li>
											<img alt="" src="upload/blog/blog3.jpg" />
										</li>
										<li>
											<img alt="" src="upload/blog/blog1.jpg" />
										</li>
									</ul>
								</div>
								<div class="blog-content">
									<a href="index.html#"><h3>gallery blog post</h3></a>
									<span>5 September 2014  |  in Traveling</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									<a href="index.html#" class="read-more">Read More</a>
									<div class="post-comments mb20">
										<a href="index.html#"><i class="fa fa-comment"></i> 315</a>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>

						<div class="col-md-4 mb20">
							<div class="blog-item">
								<img src="upload/blog/blog3.jpg" alt="">
								<div class="blog-content">
									<a href="index.html#"><h3>standard blog post</h3></a>
									<span>5 September 2014  |  in Traveling</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									<a href="index.html#" class="read-more">Read More</a>
									<div class="post-comments mb20">
										<a href="index.html#"><i class="fa fa-comment"></i> 315</a>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
