{{ partial "header.html" . }}
<body>

{{ partial "nav.html" . }}


{{ partial "slide.html" . }}




		<!-- content 
			================================================== -->
		<div id="onepage-content">
			
			{{ partial "welcome.html" . }}

			<!--{{ "achieve.html" }}-->
			<!--{{ "ourteam.html" }}-->
			{{ partial "projects.html" . }}
			<!--{{ "services.html" }}-->
			<!--{{ "pricing.html" }}-->
			{{ partial "clients.html" . }}



			<!--{{ "partners.html" }}-->
			
			<!--{{ "fromblog.html" }}-->

			{{ partial "contact.html" . }}

			<!--{{ "contact-msgbox.html" }}-->
		</div>
		<!-- End onepage content -->
