<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<!-- Static navbar -->
			<nav class="navbar navbar-default navbar-static-top">
				<!-- end topline -->
				<nav class="navigation">
					<div class="container">

						<div class="logo">
							<a href="/index.html"><img src="/logo.png" alt=""></a>
						</div>

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="/index.html">Home</a></li>
								<li class="drop"><a href="/blog">Blog</a>
									<!-- 
									<ul class="drop-down">
										<li><a href="blog.html">Blog</a></li>
										<li><a href="blog-single.html">Blog Single</a></li>
									</ul>
									-->
								</li>
								<li><a href="/product">Products</a></li>
								<li><a href="/product">Services</a></li>	
								<li><a href="/product">Pricing</a></li>					
								<!--<li><a href="/index.html#about" data-scroll="about">About Us</a></li>-->
								<li><a href="/index.html#contact">Contact</a></li>
							</ul>

						
						</div>

						<ul class="top-socials">
							<!--<li><a href="https://disqus.com/home/forums/vrnova/"><i class="fa fa-quote-right"></i></a></li>-->
							<li><a href="https://twitter.com/vr_nova"><i class="fa fa-twitter"></i></a></li>
							<li><a href="/blog/wechat"><i class="fa fa-weixin"></i></a></li>
							<li><a href="/index.xml"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</nav>
			</nav>
		</header>
		<!-- End Header -->
