
			<div class="our-team section" id="about" data-anchor="about">

				<div class="container">

					<h1 class="main-title">Our Team</h1>
					<div class="main-border"></div>
					<p class="main-subtitle">Galactica is responsive multi-purpose theme with great possibilities. We’ve thought about everything. <br> This is perfect solution for your business. You can try it now.</p>

					<div class="row">
						<div class="col-md-3 team-item mb20">
							<a href="index.html#"><img src="upload/team1.jpg" alt=""></a>
							<div class="team-inner">
								<h2>John Doe</h2>
								<span>Founder & Partner</span>
								<p>Joeby is a simple clean and modern 
								PSD template for corporate/agency.</p>
								
							</div>
							<div class="team-footer">
								<ul>
									<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 team-item mb20">
							<a href="index.html#"><img src="upload/team2.jpg" alt=""></a>
							<div class="team-inner">
								<h2>Jane Doe</h2>
								<span>Manager</span>
								<p>Joeby is a simple clean and modern 
								PSD template for corporate/agency.</p>
							
							</div>
							<div class="team-footer">
								<ul>
									<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 team-item mb20">
							<a href="index.html#"><img src="upload/team3.jpg" alt=""></a>
							<div class="team-inner">
								<h2>Jim Doe</h2>
								<span>Designer</span>
								<p>Joeby is a simple clean and modern 
								PSD template for corporate/agency.</p>
								
							</div>
							<div class="team-footer">
								<ul>
									<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 team-item mb20">
							<a href="index.html#"><img src="upload/team4.jpg" alt=""></a>
							<div class="team-inner">
								<h2>Michelle Doe</h2>
								<span>CEO</span>
								<p>Joeby is a simple clean and modern 
								PSD template for corporate/agency.</p>
								
							</div>

							<div class="team-footer">
								<ul>
									<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- end our team -->
