

			<div class="pricing parallax2 section" id="pricing">
				<div class="container">
				
					<h1 class="main-title">Our Pricing</h1>
					<div class="main-border"></div>
					
					<div class="row">
					
						<div class="col-md-3">
							<div class="price-box">
								<p class="price-name">Basic</p>
								<div class="price-big">
									<p class="p-price">$ 9.99 <span class="p-small">/ monthly</span></p>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
									<li>Simple and Effective</li>
									<li>Multipurpose theme</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Purchase Now</button>
								</div>
							</div>
						</div>
					
						<div class="col-md-3">
							<div class="price-box">
								<p class="price-name">standard</p>
								<div class="price-big">
									<p class="p-price">$ 99.99 <span class="p-small">/ monthly</span></p>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
									<li>Simple and Effective</li>
									<li>Multipurpose theme</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Purchase Now</button>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="price-box">
								<p class="price-name">Premium</p>
								<div class="price-big">
									<p class="p-price">$ 599.99 <span class="p-small">/ monthly</span></p>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
									<li>Simple and Effective</li>
									<li>Multipurpose theme</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Purchase Now</button>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="price-box">
								<p class="price-name">Professional</p>
								<div class="price-big">
									<p class="p-price">$ 999.99 <span class="p-small">/ monthly</span></p>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
									<li>Simple and Effective</li>
									<li>Multipurpose theme</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Purchase Now</button>
								</div>
							</div>
						</div>

					</div>


				</div>
			</div>
