
			<!-- our work portfolio -->
			<div class="our-work black-bg section" id="portfolio">
				
				<div class="container">
					<h1 class="main-title">Latest Projects</h1>
					<div class="main-border"></div>
				</div>
				<div class="filters demo1">
					<div class="filter clearfix">
						<ul>
							<li><a href="#" class="active" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".class1">Cardboard</a></li>
							<li><a href="#" data-filter=".class2">Application</a></li>
							<li><a href="#" data-filter=".class3">Controller</a></li>
							<li><a href="#" data-filter=".class4">Misc</a></li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="clearfix">
						<ul class="filter-container home-filter clearfix">
							<li class="class2">
								<div class="view view-first">
								    <img src="/app/cardboard.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/app/cardboard.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Cardboard</h2>
								            <p>google play - cardboard</p>
								        </div>
								    </div>
								</div>
							</li>


							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard-classic.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard-classic.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 经典款</h2>
								            <p>cardboard v2 - classic</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard2.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard2.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 经典款</h2>
								            <p>cardboard v2 - classic</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard3.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard3.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 经典款</h2>
								            <p>cardboard v2 - classic</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard1.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard1.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 经典款</h2>
								            <p>cardboard v2 - classic</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard-colorful.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard-colorful.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 缤纷款</h2>
								            <p>cardboard v2 - colorful</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard-orange.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard-orange.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 缤纷款</h2>
								            <p>cardboard v2 - colorful</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard-black.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard-black.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 缤纷款</h2>
								            <p>cardboard v2 - colorful</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard-white.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard-white.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 缤纷款</h2>
								            <p>cardboard v2 - colorful</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class1">
								<div class="view view-first">
								    <img src="/product/cardboard-yellow.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="/product/cardboard-yellow.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>纸盒 V2 - 缤纷款</h2>
								            <p>cardboard v2 - colorful</p>
								        </div>
								    </div>
								</div>
							</li>


							<li class="class4">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-1.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-1.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class2">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-2.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-2.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class3">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-3.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-3.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class4">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-4.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-4.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class4">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-5.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-5.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class2">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-6.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-6.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class3">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-7.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-7.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
							<li class="class4">
								<div class="view view-first">
								    <img src="upload/portfolio/port4-8.jpg" alt="" />
    							 	<div class="mask">							 
								    	<div class="top-post">
								    		<a href="upload/portfolio/port4-8.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
								        	<a href="/product"><i class="fa fa-link"></i></a>
								        </div>

								        <div class="bottom-post">
								        	<h2>Scene-large</h2>
								            <p>illustrations</p>
								        </div>
								    </div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<a href="#" class="learn-more">More works</a>
							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work portfolio -->
