
	    <!--/SLIDER SECTION -->
	    <section id="home" class="sliderwrapper clearfix section">
	         <div class="tp-banner-container">
	            <div class="tp-banner">
	                <ul>
	       			  <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
	                        <!-- MAIN IMAGE -->
	                        <img src="upload/slide1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
	        				<div class="tp-dottedoverlay twoxtwo"></div>
	                      	
	                      	<!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption medium_text"
								 data-x="400"
								 data-y="200"
								 data-speed="100"
								 data-start="1200"
								 data-easing="easeOutExpo" >
								 creative  <span class="bullet-cap">•</span>  classic  <span class="bullet-cap">•</span>  colorful
							 </div>

                         	<!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption very_big_white"
								 data-x="220"
								 data-y="240"
								 data-speed="300"
								 data-start="2200"
								 data-easing="easeOutExpo" >
								 经典款 & 缤纷款, Free Style
							 </div>
	    
	                        <!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption small_text"
								 data-x="300"
								 data-y="320"
								 data-speed="300"
								 data-start="2000"
								 data-easing="easeOutExpo" >
								 Cardboard v2.0 匠心之作，触摸虚拟世界边缘，从未有如此简单。
							 </div>

	                    </li>
	                    
	                     <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
	                        <!-- MAIN IMAGE -->
	                        <img src="upload/slide2.jpg"  alt="slidebg2"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
	        				<div class="tp-dottedoverlay twoxtwo"></div>
	                        
	                        <!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption medium_text"
								 data-x="400"
								 data-y="200"
								 data-speed="100"
								 data-start="1200"
								 data-easing="easeOutExpo" >
								 creative  <span class="bullet-cap">•</span>  classic  <span class="bullet-cap">•</span>  colorful
							 </div>

                         	<!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption very_big_white"
								 data-x="255"
								 data-y="240"
								 data-speed="300"
								 data-start="2200"
								 data-easing="easeOutExpo" >
								 amaze your friends.
							 </div>
	    
	                        <!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption small_text"
								 data-x="300"
								 data-y="320"
								 data-speed="300"
								 data-start="2000"
								 data-easing="easeOutExpo" >
								 Cardboard v2.0 匠心之作，触摸虚拟世界边缘，从未有如此简单。
							 </div>
	                    </li>
						
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
	                        <!-- MAIN IMAGE -->
	                        <img src="upload/slide3.jpg"  alt="slidebg3"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
	        				<div class="tp-dottedoverlay twoxtwo"></div>
	                        
	                       <!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption medium_text"
								 data-x="400"
								 data-y="200"
								 data-speed="100"
								 data-start="1200"
								 data-easing="easeOutExpo" >
								 creative  <span class="bullet-cap">•</span>  classic  <span class="bullet-cap">•</span>  colorful
							 </div>

                         	<!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption very_big_white"
								 data-x="375"
								 data-y="240"
								 data-speed="300"
								 data-start="2200"
								 data-easing="easeOutExpo" >
								 vr daydream.
							 </div>
	    
	                        <!-- THE CAPTIONS IN THIS SLDIE -->
							<div class="caption small_text"
								 data-x="300"
								 data-y="320"
								 data-speed="300"
								 data-start="2000"
								 data-easing="easeOutExpo" >
								 Cardboard v2.0 匠心之作，触摸虚拟世界边缘，从未有如此简单。
							 </div>
	                    </li>
			          </ul>
	                <div class="tp-bannertimer"></div>
	            </div>
	        </div>

	       <div class="get-start"><a href="index.html#welcome">
	        	<p>Get Started</p>
	        	<img src="images/mouse.png" alt="">
	       </a></div>

	    </section><!-- end slider-wrapper -->  



<!--
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">R</span><span class="base09">y</span><span class="base0a">n</span>&nbsp;<span class="base0b">L</span><span class="base0c"></span>i<span class="base0d">u</span><span class="base05">]</span>
	<span class="base05"># <span id="blink2">_</span></span>
</h1>

<div class="hero-logo">
	<img src="{{.Site.BaseURL}}/img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  do not try this "<code>\rm -r /</code>" when u feel lonely.
</div>
-->

