{{ partial "header.html" .}}
<body class="onepage-blog">

{{ partial "nav.html" }}

		<!-- Banner 
			================================================== -->
		<div class="banner">
			<div class="container">
				<h4>{{.Title}}</h4>
				<div class="site_map">
					<a href="index.html">Home</a> / {{ .Title }}
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- End Banner -->


		<!-- content 
			================================================== -->
		<div id="content">
			
			<div class="blog-page container">
				<div class="row">
					<!-- Blog Posts -->
					<div class="col-lg-8 blog-posts2">
						
						{{ with .Data.Pages }}
							{{ range . }}
							{{ .Render "summary" }}
							{{ end }}
						{{ end }}

						<!-- Quote Blog Item -->
						<div class="blog-item2">
							<div class="row">
								<div class="col-sm-2">
									<div class="calendar">
										<span>dec</span>
										<p>27</p>
									</div>
									<div class="post-like mb20">
										<a href="blog.html#"><i class="fa fa-heart"></i> 1256</a>
									</div>
									<div class="post-comments mb20">
										<a href="blog.html#"><i class="fa fa-comment"></i> 315</a>
									</div>
								</div>
								<div class="col-sm-10 ">
									<blockquote>
										“I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.” 
										<span>— Marilyn Monroe</span>
									</blockquote>
								</div>
							</div>
						</div>
						<!-- End Quote Blog Item -->

						<div class="pagenation clearfix">
							<ul>
								<li><a href="blog.html#">&lt;</a></li>
								<li class="active"><a href="blog.html#">1</a></li>
								<li><a href="blog.html#">2</a></li>
								<li><a href="blog.html#">3</a></li>
								<li><a href="blog.html#">&gt;</a></li>
							</ul>
						</div>

					</div>
					<!-- End Blog Posts -->

					{{partial "sidebar-right" .}}
				</div>
			</div>

		</div>
		<!-- End content -->

		{{partial "footer.html" .}}
