{{ partial "header.html" . }}
<body class="onepage-blog">

{{ partial "nav.html" }}

		<!-- Banner 
			================================================== -->
		<div class="banner">
			<div class="container">
				<h4>{{ .Title }}</h4>
				<div class="site_map">
					<a href="index.html">Home</a> / {{ range .Params.categories }}{{ . }}{{ end }}
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- End Banner -->


		<!-- content  -->
		<div id="content">

			<div class="blog-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="blog-single clearfix">
								<h1>{{ .Title }}</h1>
								<span>
								{{ .Date.Format "2006-01-02" }}
								&nbsp;&nbsp;作者: {{ if isset .Params "author"}} {{ .Params.author }} {{else}} Anas VR {{end}}
								&nbsp;&nbsp;来源: {{ if isset .Params "source"}} {{ .Params.source }} {{else}} Anas VR {{end}} 
								&nbsp;&nbsp;<i class="fa fa-comment"></i><a href="#disqus_thread">我要评论</a>
								</span>
								<hr/>
								{{ with .Params.img }}
								<div class="flexslider">
									<ul class="slides">
										{{ range . }}
										<li>
											<img alt="" src="{{ . }}" />
										</li>
										{{ end }}
									</ul>
								</div>
								{{ end }}
								<hr/>

								{{ .Content }}

								<div class="blog-tags">
									<i class="fa fa-tags"></i>
									{{ with .Params.tags }}
									{{ range . }}
									<a href="/tags/{{ . }}">
										{{ . }}
									</a>; 
									{{ end }}
									{{ end }}
								</div>

								<div class="blog-share">
								<p>Share</p>			
									<ul>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
									<div class="clear"></div>
								</div>
								<!-- End Share -->
								<div class="clear"></div>

								{{ with .Params.authorinfo }}
								<div class="about-author">
									<img src="{{ .avatar }}" alt="">
									<div class="author-text">
										<h4>{{ .name }} <span> | {{ .job }}</span></h4>
										<p>{{ .desc }}</p>
									</div>
									<div class="clear"></div>
								</div>
								{{ end }}

							{{ with .Site.DisqusShortname }}
							{{ partial "disqus.html" . }}
							{{ end }}


								<div class="related">
									<h1 class="main-title">Related Articles</h1>
									<div class="main-border"></div>

									<div class="row">
										<div class="col-md-4">
											<div class="related-item">
												<img src="/upload/relatedp1.jpg" alt="">
												<a href="#"><h4>We possess within us two minds</h4></a>
											</div>
										</div>
										<div class="col-md-4">
											<div class="related-item">
												<img src="/upload/relatedp2.jpg" alt="">
												<a href="#"><h4>Your subconscious mind is like fertile soil</h4></a>
											</div>
										</div>
										<div class="col-md-4">
											<div class="related-item">
												<img src="/upload/relatedp3.jpg" alt="">
												<a href="#"><h4>Remember, the conscious mind is the gardener.</h4></a>
											</div>
										</div>
									</div>

									
								</div>
								<!-- end related -->


							</div>
							<!-- End Signle Blog -->
						</div>
						<!-- End Main Blog -->

						{{partial "sidebar-right.html" .}}
					</div>
				</div>
			</div>

		</div>
		<!-- End content -->

{{ partial "footer.html" . }}
